<div class="card card-block card-1 mt-5" style="text-align: center; width: 450px; left: 32%">
                <div class="img2 visible mt-2"><%=image_tag(@current_user.civilian.avatar.to_s)%></div>
                            <div class="main-text">
                            <%=form_for(@civilian_faction) do |f|%>
                            <h2 class="visible mt-3" style="font-family: 'Fantasy';"><%=f.text_field :name, style: "background: transparent; placeholder: black;", placeholder:"         Faction Name"%></h2>
                            <h3 class="visible" style="font-family: 'Fantasy';"><%=f.submit "Save Faction", class: "btn btn-secondary"%></h3>
                            <%end%>
                                </div>
                            <div class="socials">
                            </div>
                </div>