<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="59284335721-fu3jlljkthukvjcd9ga6uhhp7iaii9ti.apps.googleusercontent.com">
  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        
      </header>

      <main role="main" class="inner cover">
           <div class="text-center">
    <div style="max-width:480px;margin:auto" action="/login" method="post">
        <%= image_tag('logo_transparent_background.png', class: "mt-4 mb-4", height: "150")%>
        <h1 class="h3 mb-3 font weight normal">Welcome to Allegience</h1>
        <div class="mt-4">
        <a href="/login" class="btn btn-md btn-secondary">Sign In</a>
        <a href="/users/new" class="btn btn-md btn-secondary">Sign Up</a> 
        </div>
        <%# <div class="mt-3">
        <h1 class="h3 mb-3 font weight normal">or</h1>
        <div class="mb-2">
        <%= image_tag('google.png', height: '25')%>
        <%# </div> %>
        <%# <%= button_to "Sign In", '/auth/google_oauth2', class: "btn btn-md btn-secondary"%> %>
        <%# <button href="/auth/google_oauth2" class="btn btn-lg btn-secondary"><%= image_tag('google.png', height: '25') %> %>


        </div>
    </div>
    </div>
      </main>
      
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Created by <a href="https://github.com/nathanhains">Nathan Hains</a></p>
        </div>
      </footer>
    </div>

